@import url(https://fonts.googleapis.com/css?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap);

* {
    font-family: "Montserrat";
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, rgb(0, 0, 55), rgb(10, 10, 171));
    height: 120%;
}

.titre {
    color: #ffffff;
    margin: 70px;
    margin-left: 23%;
    margin-right: 23%;
}

.container {
    width: 35%;
    height: 250px;
    margin: 20px auto;
    margin-bottom: 230px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding-top: 40px;
}

.conversion {
    padding: 10px;
    margin-left: 70px;
}

input[type="text"] {
    width: 50%;
    padding: 10px;
    font-size: 15px;
}

button {
    margin-left: 10px;
    margin-right: 10px;
    padding: 12px;
    font-size: 17px;
    background: linear-gradient(45deg, rgb(0, 0, 55), rgb(10, 10, 171));
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: linear-gradient(80deg, rgb(0, 0, 55), rgb(10, 10, 171));
    transition: 0.4s;
}

/* Personnalisation de la barre de scroll */
body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-track {
    background: linear-gradient(45deg, rgb(7, 7, 138), rgb(10, 10, 184));
}
body::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, rgb(7, 7, 138), rgb(10, 10, 184));
    border-radius: 20px;
}